group Shared
  frameworks: net6.0, netstandard2.0
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget FSharp.Core
  nuget Fable.Elmish
  nuget Fable.Core
  nuget Fable.Browser.Dom
  nuget Fable.Browser.Url
  nuget Fable.Browser.WebSocket
  nuget Fable.SimpleJson

group Fabulous
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fabulous
  nuget Fable.Remoting.Json
  nuget System.Net.WebSockets

group DotnetClient
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Elmish
  nuget Fable.Remoting.Json
  nuget System.Net.WebSockets

group Server
  frameworks: net6.0, netstandard2.0
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Fable.Remoting.Json
  nuget Elmish

group Suave
  framework: net6.0
  condition: net6_0
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Suave


group Suave_ns2.0
  framework: netstandard2.0
  condition: netstandard2_0
  storage: none
  git https://github.com/anpin/suave ns2.0 build: "rm -rf nugets && dotnet tool restore && dotnet paket restore && dotnet build Suave.sln -c Release && dotnet paket pack nugets --version 2.7.0-ns", Packages: /nugets/, OS: mono
  nuget Suave
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core


group Giraffe
  storage: none
  source https://api.nuget.org/v3/index.json

  nuget Giraffe
  nuget Microsoft.AspNetCore.WebSockets
